In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
MB=pd.read_csv('/cluster2/home/futing/Project/panCancer/MB/meta/MB_anno.csv')
srr=pd.read_csv('/cluster2/home/futing/Project/panCancer/MB/meta/done.txt',header=None)

In [4]:
MB.head()

,GSE,GSM,SRR,cell,genotype,ispatient,bases,title,enzyme
0,GSE240410,SRR25592948,SRR25592948,D458,NaN,D458,1.899370e+11,"GSM7697651: D458, G3, Hi-C; Homo sapiens; Hi-C",MboI
1,GSE240410,SRR25592950,SRR25592950,MB277,NaN,patient,NaN,"GSM7697649: MB277, G3b, Hi-C; Homo sapiens; Hi-C",MboI
2,GSE240410,SRR25592952,SRR25592952,MB274,NaN,patient,2.456860e+11,"GSM7697647: MB274, SHHa, Hi-C; Homo sapiens; Hi-C",MboI
3,GSE240410,SRR25592949,SRR25592949,MB288,NaN,patient,NaN,"GSM7697650: MB288, G3b, Hi-C; Homo sapiens; Hi-C",MboI
4,GSE240410,SRR25592943,SRR25592943,MB199,NaN,patient,NaN,"GSM7697640: MB199, G4, Hi-C; Homo sapiens; Hi-C",MboI

In [3]:
srr

             0
0  SRR25592940
1  SRR25592941
2  SRR25592945
3  SRR25592946
4  SRR25592948
5  SRR25592951
6  SRR25592952
7  SRR25592954

In [5]:
MBfil=MB.loc[MB['SRR'].isin(srr[0]),['GSE','SRR','cell','enzyme']]
MBfil.to_csv('/cluster2/home/futing/Project/panCancer/MB/meta/MB_July02.txt',index=None,header=None)

In [12]:
MBfil.head()

          GSE   cell enzyme
2   GSE240410  MB274   MboI
7   GSE240410  MB275   MboI
8   GSE240410  MB106   MboI
12  GSE240410  MB164   MboI
13  GSE240410  MB234   MboI

In [14]:
MBfil.to_csv('/cluster2/home/futing/Project/panCancer/MB/MB_uploadmeta.txt',index=False,header=None)