In [1]:
import pandas as pd
file1="/cluster2/home/futing/Project/panCancer/Analysis/ABC/RNA/GEO/TALL/TALLp_raw_counts_GRCh38.p13_NCBI.tsv"
file2="/cluster2/home/futing/Project/panCancer/Analysis/ABC/RNA/GEO/TALL/CCRF-CEM_raw_counts_GRCh38.p13_NCBI.tsv"
df1 = pd.read_csv(file1, sep="\t")
df2 = pd.read_csv(file2, sep="\t")

In [2]:
df1.head()

,GeneID,GSM3732717,GSM3732718,GSM3732719,GSM3732720,GSM3732721,GSM3732722,GSM3732723,GSM3732724,GSM3732725,...,GSM5534660,GSM5534661,GSM7228735,GSM7228736,GSM7228737,GSM7228738,GSM7228739,GSM7228740,GSM7228741,GSM7228742
0,100287102,10,10,6,4,21,34,36,3,3,...,3,2,23,19,16,13,11,11,11,9
1,653635,1852,2071,1129,838,1287,2299,1877,1038,1415,...,566,621,1462,1661,1321,1344,1673,1584,1262,1328
2,102466751,47,64,33,19,32,42,38,9,18,...,18,23,9,10,7,7,18,16,11,9
3,107985730,1,2,1,0,12,16,6,7,1,...,2,0,1,2,0,1,1,0,0,0
4,100302278,0,0,0,0,1,4,2,1,2,...,0,0,0,1,0,0,1,0,0,0

In [3]:
df2.head()

      GeneID  CCRF-CEM_rep1  CCRF-CEM_rep2  CCRF-CEM_rep3
0  100287102              0              0              0
1     653635            151            191            175
2  102466751              3              6              4
3  100302278              0              0              0
4     645520              0              0              0

In [4]:
result = pd.merge(df1, df2, on="GeneID", how='outer')

In [6]:
result = result.sort_values(by="GeneID")
result.head()

,GeneID,GSM3732717,GSM3732718,GSM3732719,GSM3732720,GSM3732721,GSM3732722,GSM3732723,GSM3732724,GSM3732725,...,GSM7228736,GSM7228737,GSM7228738,GSM7228739,GSM7228740,GSM7228741,GSM7228742,CCRF-CEM_rep1,CCRF-CEM_rep2,CCRF-CEM_rep3
0,1,183.0,194.0,188.0,120.0,474.0,1179.0,1089.0,319.0,437.0,...,317.0,341.0,336.0,250.0,234.0,304.0,248.0,696.0,899.0,781.0
1,2,17.0,20.0,111.0,73.0,2.0,3.0,2.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,3,19.0,7.0,56.0,43.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0
3,9,125.0,157.0,145.0,163.0,802.0,1109.0,1053.0,249.0,200.0,...,94.0,140.0,101.0,137.0,117.0,154.0,154.0,413.0,488.0,342.0
4,10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
result.to_csv('/cluster2/home/futing/Project/panCancer/Analysis/ABC/RNA/GEO/TALL/TALL_raw_counts_GRCh38.p13_NCBI.tsv',sep='\t',index=False)