In [1]:
import cooler

In [4]:
test=cooler.Cooler('/cluster/home/futing/Project/GBM/HiC/11stripe/BL6.DPT.chr16.mcool::/resolutions/5000')

In [9]:
test.bins()[:10]

  chrom  start    end  GW_SCALE  KR  SCALE   VC  VC_SQRT
0    16      0   5000       NaN NaN    NaN  0.0      0.0
1    16   5000  10000       NaN NaN    NaN  0.0      0.0
2    16  10000  15000       NaN NaN    NaN  0.0      0.0
3    16  15000  20000       NaN NaN    NaN  0.0      0.0
4    16  20000  25000       NaN NaN    NaN  0.0      0.0
5    16  25000  30000       NaN NaN    NaN  0.0      0.0
6    16  30000  35000       NaN NaN    NaN  0.0      0.0
7    16  35000  40000       NaN NaN    NaN  0.0      0.0
8    16  40000  45000       NaN NaN    NaN  0.0      0.0
9    16  45000  50000       NaN NaN    NaN  0.0      0.0